<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
    <div>
    <img class="book-cover" src="<%= book.coverImagePath%>" alt="">
        <div class="book-details-button-grid">
            <a class="btn btn-primary1" href="/books/<%=book.id%>/download">Download Book</a>
            <a class="btn btn-primary1 book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
            <a class="btn btn-primary1" href="/books/<%= book.id %>/edit">Edit</a>
            <%- include ('../partials/deleteform', {url:`/books/${book.id}`}) %>
            
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">
            Author : 
        </div>
        <div>
            <%= book.author.name %>
        </div>
        <div class="book-details-label">
            Publish Date : 
        </div>
        <div>
            <%= book.publishDate.toDateString() %>
        </div>
        <div class="book-details-label">
            Page Count :
        </div>
        <div>
            <%= book.pageCount %>
        </div>
        <div class="book-details-label">
            Description :
        </div>
        <div>
            <%= book.description %>
        </div>
    </div>
    
</div>

